@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 18%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 18%;
    --primary: 345 6% 13%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 8% 95%;
    --secondary-foreground: 214 14% 10%;
    --muted: 216 8% 88%;
    --muted-foreground: 218 15% 65%;
    --accent: 210 8% 95%;
    --accent-foreground: 214 14% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --input-focus-border: 217 15% 48%;
    --subtitle: 218 15% 38%;
    --info: 207 90% 54%;
    --info-foreground: 220 13% 13%;
    --info-background: 206 56% 95%;
  }

  .dark:root {
    --background: 30 5% 7%;
    --foreground: 30 8% 96%;
    --card: 30 5% 7%;
    --card-foreground: 30 8% 96%;
    --popover: 30 5% 16%;
    --popover-foreground: 30 8% 96%;
    --primary: 30 20% 95%;
    --primary-foreground: 345 8% 12%;
    --secondary: 30 5% 12%;
    --secondary-foreground: 30 8% 96%;
    --muted: 30 5% 22%;
    --muted-foreground: 30 6% 65%;
    --accent: 30 5% 18%;
    --accent-foreground: 30 8% 96%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 60% 50%;
    --success-foreground: 0 0% 98%;
    --border: 30 5% 22%;
    --input: 30 5% 24%;
    --ring: 30 6% 55%;
    --input-focus-border: 199 45% 55%;
    --subtitle: 30 6% 68%;
    --info: 199 84% 65%;
    --info-foreground: 0 0% 96%;
    --info-background: 199 55% 16%;
  }
}
